.payment {
  display: flex;
  gap: 2rem;
  align-items: center;

  .paymentField {
    display: inline-flex;
    gap: 1rem;
    align-items: center;
  }

  .paymentLabel {
    display: inline-flex;
    gap: 8px;
    align-items: center;
  }
}

img.icon {
  height: 24px;
  width: auto;

  &.paypal {
    height: 16px;
  }
}

.agree {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--d1-primary-color);
}

.buttonWrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 1rem;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}
