.pageWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  padding: 0.5rem;
  gap: 1.2rem;

  .title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #002333;
  }
  .contentMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    .img {
      width: 80%;
      max-width: 500px;
      min-width: 200px;
    }

    .help-text-block {
      text-align: center;
      line-height: 125%;
    }

    .help-text1 {
      font-size: 1rem;
      color: #002333;
    }

    .help-text2 {
      font-size: 0.8rem;
      color: #00233399;
    }
  }

  .backBtn {
    padding: 0.5rem 1.5rem;
    border: 1px solid #03ff84;
    border-radius: 8px;
    background-color: #03ff84;
    font-weight: 500;
    color: #002333;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 768px) {
  .pageWrap {
    .title {
      font-size: 2rem;
    }
  }
}